<h1>Sign Up Confirmation</h1><br>

<div class="row">
    <div class="col-md-4">
        <h4>Are you sure these values are correct?</h4>
        <h3>Email: <%= params[:user][:email] %></h3>
        <h3>Name: <%= params[:user][:name] %></h3>
    </div>
    <div class="col-md-4", style="width: auto;">
        <%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success' %>
        <%= link_to "No", new_user_path, class: 'btn btn-danger' %>
    </div>
</div>
