<h1>Edit Post</h1>

<div class="row">
    <div class="col-md-4">
        <p>More like Guidelines than actual rules</p>
        <ul>
            <li>Make sure it rhymes.</li>
            <li>POTC quotes are worth ten points.</li>
            <li>Heavy hashtag use is frowned upon.</li>
        </ul>
    </div>
    <div class="col-md-8">
        <%= render partial: 'form', locals: { topic: @post.topic, post: @post } %>
    </div>
</div>
